@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Plus+Jakarta+Sans:wght@400;500;700&display=swap');

/* roots start*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white:#ffffff;
    --black:#000000;
    --primary:#0f6e8c;
    --secondary:#05546d;
    --top-heading:#094b72;
}

h1,h2,h3,h4{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

p,a{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.container{
    max-width: 1110px;
    margin: auto;
}

/* roots end*/

/*menu starts*/

nav{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;

}

nav .nav-menu ul{
    display: flex;
    gap: 80px;
}
nav .nav-logo{
    margin-top: 11px;
}
nav .nav-menu ul li{
    list-style: none;
}
nav .nav-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
}
/*menu ends*/

/*hero starts*/

.hero-section{
    background-color:#f9f8f9 ;
    width: 100%;
    display: flex;
    justify-content: center;
}
.hero-section .hero-content{
    display: flex;
    max-width: 1440px;
}
.hero-section .hero-content .hero-left-content{
    margin-top: 180px;
    margin-left: 167px;
    flex: 60%;
}
.hero-section .hero-content .hero-left-content h1{
    font-size: 90px;
    color: var(--top-heading);
}

.hero-section .hero-content .hero-left-content p{
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0.5px;
    margin-top: 60px;
    margin-right: 148px;
    margin-bottom: 8px;
}
.hero-section .hero-content .hero-left-content .company-logos{
    display: flex;
    gap: 30px;
}
.hero-section .hero-content .hero-left-content .company-logos .logo ul li{
    list-style: none;
}
.hero-section .hero-content .hero-left-content .company-logos .logo ul li img{
    margin-top: 30px;
}
.hero-section .hero-content .hero-left-content button{
    background-color: var(--top-heading);
    color: var(--white);
    padding: 22px;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    margin-top: 30px;
}
.hero-section .hero-content .hero-left-content .hero-trust-company p{
    font-size: 22px;
    line-height: 31px;
    font-weight: 400;
    color: #8B8C8C;
    margin-top: 115px;
} 
.hero-section .hero-content .hero-right-content {
    flex: 40%;
}
.hero-section .hero-content .hero-right-content img{
    width: 549px;
    height: 974px;
    margin-left: -130px;
}
/*hero ends*/

/*Service Section start*/
.legal-section{
    display: flex;
    background-color: #F2FCFF;
    padding: 133px 0;
    justify-content: center;
}

.legal-section .legal-width{
    max-width: 1440px;
}

.legal-section div:first-child{
    display: flex;
}

.legal-section .legal-section-left{
    flex: 50%;
    margin-top: 80px;
    margin-right: 50px;
}
.legal-section .legal-section-left h2{
    
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0.32px;
    margin-left: 167px;
    margin-right: 50px;
}
.legal-section .legal-section-left p{
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-left: 167px;
    margin-right: 50px;
}

.legal-section
.legal-section-right{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex: 50%;
    justify-content: flex-start;
    
}
.legal-section
.legal-section-right
.legal-right-container:nth-child(3),
.legal-section
.legal-section-right
.legal-right-container:nth-child(4){
    margin-top: 18px;
}
.legal-section
.legal-section-right
.legal-right-container
article{
    background-color: #FCFCFC;
    padding: 24px;
    width: 260px;
    height: 260px;
    margin-right: 18px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.legal-section
.legal-section-right
.legal-right-container
article img{
    height: 37px;
    width: 37px;
    margin-bottom: 25px;
}

.legal-section
.legal-section-right
.legal-right-container
article h3{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.legal-section
.legal-section-right
.legal-right-container
article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
}
/*Service Section ends*/

/*Count Section Start*/
.count{
    background-image: url(image/BG.svg);
    display: flex;
    justify-content: center;
}
.count-section{
    max-width: 1440px;
    padding: 25px;
}
.count-section .count-content{
    display: flex;
}
.count .count-section h2{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    margin-bottom: 10px;
}
.count .count-section p{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.count .count-section .count-item{
    width: 255px;
    height: 96px;
    margin-bottom: 25px;
}

.count .count-section .count-item:nth-child(1){
    border-right: 1px solid #fff;
    padding-right: 20px;
}

.count .count-section .count-item:nth-child(2){
    margin: 0 20px;
}
.count .count-section .count-item:nth-child(3){
    border-left: 1px solid #fff;
    padding-left: 20px;
    
}

.count .count-section .count-item p{
    text-align: center;
}
.count .count-section .count-item h2{
    text-align: center;
}
/*Count Section ends*/

/*testimonial Section starts*/
    .testimonial-section{
        padding: 40px 0;
        background-color: #F4FBFF;
    }
    .testimonial-section h2{
        text-align: center;
        font-size: 48px;
        line-height: 64px;
        letter-spacing: 0.5px;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .testimonial-section .testimonial-content-box{
        display: flex;
        column-gap: 50px;
        max-width: 1110px;
        margin-bottom: 25px;
        
    }
    .testimonial-section .testimonial-content-box .testimonial-box .testimonial-content{
        padding: 32px;
        height: 185px;
        background-color: #FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        border-radius:10px ;
    }
    .testimonial-section .testimonial-content-box .testimonial-box .testimonial-content::before{
        position: absolute;
        content: '';
        bottom: -10px;
        left: 50%;
        height: 25px;
        width: 25px;
        background: #fff;
        transform: rotate(45deg);
    
    }

    .testimonial-section .testimonial-content-box .testimonial-box .testimonial-content h3{
        text-align: center;
    }
    .testimonial-section .testimonial-content-box .testimonial-box .testimonial-content p{
        text-align: center;
    }

    .testimonial-section .testimonial-content-box .testimonial-box .testimonial-profile{
        display: flex;
        position: relative;
        top: 20px;
        justify-content: center;
        column-gap: 20px;
    }

    .testimonial-section .testimonial-content-box .testimonial-box .testimonial-profile p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #4F4F4F;
    }

/*testimonial Section ends*/

/*CTA Section starts*/
.cta{
    display: flex;
    justify-content: center;
}
.cta-section {
    display: flex;
    max-width: 1440px;
}
.cta-section .cta-content{
    margin-left: 120px;
    margin-top: 50px;
}

.cta-section .cta-content h2{
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 0.5;
    font-weight: 700;
    margin-bottom: 30px;
}

.cta-section .cta-content p{
    font-size: 24px;
    margin-right: 43px;
    line-height: 36px;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.cta-section .cta-content button{
    background-color: var(--primary);
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.5;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 37px;

}
.cta-section .cta-content button i{
    width: 28.5px;
    height: 32px;
    margin-right: 16px;
}
/*CTA Section ends*/

/*footer Section Starts*/
.footer{
    display: flex;
    justify-content: center;
    padding: 75px 0;
    background-color: #0f6e8c;
}
.footer-section{
    display: flex;
    width: 100%;
    max-width: 1110px;
}
.footer-logo{
    flex-basis: 50%;
}
.footer-nav{
    flex-basis: 50%;
}
.footer-nav div{
    display: flex;
    justify-content: space-around;
}
.footer-nav-menu{
    display: flex;
    flex-direction: column;
}
.footer-nav-menu h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 33px;
}
.footer-nav-menu ul li{
    list-style: none;
    margin-top: 15px;
}
.footer-nav-menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    
}
/*footer Section ends*/

/*sub-footer Section starts*/
.sub-foot{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #05546d;
}
.sub-foot .sub-foot-section{
    display: flex;
    padding: 30px 0;
    max-width: 1110px;
    width: 100%;
}
.sub-foot-copyrights{
    flex-basis: 50%;
}
.sub-foot-copyrights h3{
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}
.sub-foot-icons{
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
}

.sub-foot-icons i{
    color: #ffffff;
    margin-right: 18px;
    background-color: #18647b;
    padding: 8px;
    border-radius: 50%;
}
/*sub-footer Section ends*/